{{define "navbar" }}
<nav>
<div>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/posts'>Posts</a>
</div>
<div>
        <a href='/admin/login'>管理登录</a>
        <a href='/admin/register'>注册</a>
    </div>
</nav>

{{end}}
